.DS_Store
Thumbs.db
*bower_components*
*.psd
*.zip
.idea

node_modules/jasmine-core
node_modules/karma
node_modules/karma-chrome-launcher
node_modules/karma-jasmine
node_modules/phantomjs
node_modules/karma-phantomjs-launcher
node_modules/grunt-karma
